h1{
    color:darkgreen;
    font-family:"Kaushan Script";
    font-size: 50px;
}
  .kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
caption{
    color:darkgreen;
    font-family:"Kaushan Script";
    font-size: 50px;
}
ol{
   color:darkgreen;
    font-family:"Kaushan Script";
    font-size: 20px;
}  
